*,
*::before,
*::after{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-color: #1b1b2f;
  color: white;
  font-family: 'Nunito', sans-serif;
}
.container{
  padding: 0;
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
 
}
.intro-head{
  text-align: center;
  font-weight: 400px;
  padding-bottom: 30px;
}
.heading:hover{
  color: #e43f5a;
}
.intro-container{
  background-color: #e43f5a;
  width:92%;
  border-radius: 25px;
  transition: transform .2s;
  
}
.intro-container:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.img-screenshot{
  border-radius: 25px;
}

.btn-class{
  position: relative;
  
  
}
.btn{
  position: relative;
  display: block;
  color: white;
  font-size: 14px;
  text-decoration: none;
  margin:0 auto;
  border: 2px solid #e43f5a;
  padding: 14px 20px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}
.btn::before{
  background: #e43f5a;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}
.btn-redirect::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(-45deg);
}
.btn-redirect:hover::before{
  height: 380%;
}

.int-p{
  text-align: center;
  padding-right: 200px;
  padding-bottom: 0px;
  margin-bottom: 1px;
}
#header {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}
.logo {
    margin-left: 8px;
    padding-top: 5px;
    float: left;
    border-radius: 50%;
    width:100px;
    height:100px;
}
.heading {
    font-size: 40px;
    font-weight: 600;
    padding-top: 1px;
    margin-top: 1px;
    color: cyan;
}
.but1{
  transform:translateX(47vw);
  background-color: green;
  color:white;
  width:100px;
  height:50px;
  margin-top: 30px;
}


@media screen and (max-width:768px){
  .container{
    flex-direction: column-reverse;
  }
  
}


@media screen and (max-width:547px){
  .container{
    flex-direction: column-reverse;
  }
  .intro-container{
    width:140vw;}
    .but1{
      transform:translateX(57vw);
      margin-top: 0;
    }
  
    
    
}



